#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
repo --name="Server-HighAvailability" --baseurl=file:///run/install/repo/addons/HighAvailability
repo --name="Server-ResilientStorage" --baseurl=file:///run/install/repo/addons/ResilientStorage
repo --name="Server-Mysql" --baseurl=file:///run/install/repo/addons/Mysql
# Use CDROM installation media
cdrom
# Use graphical install
text
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=static --device=enp0s3 --ip=192.168.15.110 --netmask=255.255.255.0 --gateway=192.168.15.1 --nameserver 192.168.15.101 --ipv6=auto --onboot=yes
network  --bootproto=static --device=enp0s8 --ip=192.168.56.110 --netmask=255.255.255.0 --ipv6=auto --activate
network  --bootproto=static --device=enp0s9 --ip=192.168.10.110 --netmask=255.255.255.0 --ipv6=auto --activate
network  --hostname=vmrac1.rac.lan

# Root password
rootpw --iscrypted $6$IFVx590pYLK3ReE9$IBUjCf4GZWV0blqHUmGY53DE4B1SKvFerQwBYLnhy6d7jfu/RDFb1B7wdDiSO8kWw43eux24OZiaZi1wCJWGq.
# System services
services --disabled="chronyd"
# System timezone
timezone Asia/Baku --isUtc --nontp
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --all --initlabel
# Disk partitioning information
part /boot --fstype="ext4" --ondisk=sda --size=500
part pv.155 --fstype="lvmpv" --ondisk=sda --size=30219
volgroup ol --pesize=4096 pv.155
logvol swap  --fstype="swap" --size=4092 --name=swap --vgname=ol
logvol /  --fstype="ext4" --size=26124 --name=root --vgname=ol

%packages
@^minimal
@core

%end

%addon com_redhat_kdump --disable --reserve-mb='auto'

%end